<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Product List</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" 
          rel="stylesheet" 
          integrity="sha384-SR1L4xkITLyF4J716G7z9wB7P4J8tLH7qKQnquklAvNWLzn8NtE5YBuZjQJLB" 
          crossorigin="anonymous">
    <link rel="stylesheet" href="/css/app.css">
  </head>

  <body>
    <header class="p-2">
      <h1 class="text-center border border-1 rounded rounded-2 p-3 bg-warning">
        Contacto
      </h1>
    </header>

    <%- include('menu') %>

    <main>
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Email address</label>
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
        </div>
        <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Example textarea</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>
    </main>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" 
            integrity="sha384-FKyoEForGlyvwxx9Hj09jCn3n7wiPVLz7YWvJrWvCXk/BmnVDxM+D2sCqbITxI" 
            crossorigin="anonymous">
    </script>
  </body>
</html>
